{% extends 'base.html.twig' %}
{% block title %}Tous nos biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>

        <div class="container">
            <div class="row flex">
                {% for property in properties %}
                    <div class="col-4">
                        {% include 'property/_property.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}