{% extends 'base.html.twig' %}
{% block title %}Tous nos biens{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, ex excepturi explicabo facere fuga
            impedit ipsum laudantium nemo, optio perspiciatis quas repudiandae sapiente veniam. Consequuntur dolor nemo
            odit quaerat tempora.</p>
    </div>
{% endblock %}