<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="{{ path('home') }}">Agence immo</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link{% if current_menu is defined and current_menu == 'properties' %} active{% endif %}" href="{{ path('property.index') }}">Acheter <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        {% if app.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>